body {
	/*background-color: lightgreen;*/
	margin: 0px;
	overflow: hidden;
}

#content {
  position: relative;
  height: 100%;
  width: 100%;
}

.absoluteCenter {
  width: 800px;
  height: 600px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.controlContainer {
	padding: 25px;
}